@charset "UTF-8";
@font-face {
  font-family: "M+ 1m";
  src: local("M+ 1m");
}

@font-face {
  font-family: "Rounded M+ 1m regular";
  src: local("Rounded M+ 1m regular");
}

@font-face {
  font-family: "Rounded M+ 2m regular";
  src: local("Rounded M+ 2m regular");
}

/*@import "setting/**";
@import "function/**";
@import "layout/**";
@import "component/**";
@import "project/**";
@import "utility/**";*/
/*!
 * ress.css • v2.0.4
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

:root {
  font-size: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  max-width: 100%;
  margin: auto;
}

html body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  margin: auto;
}

header {
  overflow: hidden;
  height: 217px;
  background-color: #fff7ef;
  color: #707070;
  opacity: 1.0;
  font-family: "Roboto";
  vertical-align: bottom;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 769px) {
  header {
    width: 80.7%;
    float: left;
  }
}

header .l-menu {
  float: right;
  font-size: 2rem;
  margin: 1.4rem 1.6rem 0 0;
  z-index: 500;
  cursor: pointer;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 769px) {
  header .l-menu {
    display: none;
  }
}

header .l-site_title {
  font-size: 4rem;
  text-align: center;
  padding-top: 4rem;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 769px) {
  header .l-site_title {
    margin-top: 5rem;
    margin-left: 6.5rem;
    display: inline-block;
  }
}

header .l-searchform {
  line-height: 4.6rem;
  margin-top: 3.8rem;
  text-align: center;
  margin-bottom: 4rem;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 769px) {
  header .l-searchform {
    float: right;
    display: inline-block;
    margin-top: 8.6rem;
    margin-right: 3rem;
  }
}

header .l-searchtext {
  -webkit-appearance: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Fontawesome;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  text-decoration: inherit;
  padding: 1.1rem 1.6rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #707070;
  background-color: #fff;
  height: 4.6rem;
  width: 61.3%;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  header .l-searchtext {
    width: 47.5%;
  }
}

@media (min-width: 769px) {
  header .l-searchtext {
    width: 25.4vw;
  }
}

header label {
  -webkit-appearance: none;
  display: inline-block;
  border-radius: 0.8rem;
  margin-left: 1.2rem;
  height: 4.6rem;
  padding: 0 2.3rem 0 2.3rem;
  font-size: 1.6rem;
  color: #707070;
  border: 0.1rem solid #707070;
  background-color: #f2ede9;
  vertical-align: top;
  display: inline-block;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  header label {
    padding: 0 5.4rem 0 5.4rem;
  }
}

main {
  overflow: hidden;
  opacity: 1;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
  /*以下archiveのcss*/
  /*ページフィード*/
  /*以下singleのcss*/
  /*以下pageのcss*/
}

@media (min-width: 769px) {
  main {
    width: 80.7%;
    float: left;
  }
}

main .l-page-top {
  background-image: url(/images/top_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 100%;
  height: auto;
  position: relative;
  display: block;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-page-top {
    background-image: url(/images/top_tablet_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  main .l-page-top {
    background-image: url(/images/top_pc_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

main .l-page-top .l-main_title {
  color: #fff;
  font-size: 3.6rem;
  font-family: "M+ 1m";
  padding: 11.9rem 0px 11.8rem 2.5rem;
}

main .l-container {
  /*レスポンシブ　tablet PC*/
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

main .l-container h2 {
  color: #fff;
  font-size: 4.1rem;
  font-family: Roboto;
  padding: 1.3rem 0 0 1.2rem;
  position: relative;
}

main .l-container h2::after {
  content: "";
  position: absolute;
  left: 1.2rem;
  bottom: -1.13rem;
  /*線の上下位置*/
  width: 3.39rem;
  /*線の長さ*/
  height: 0.5rem;
  /*線の太さ*/
  background-color: #fff;
  /*線の色*/
}

main .l-container h3 {
  font-size: 2.2rem;
  font-family: "M+ 1m";
  padding: 1.9rem 0 2.1rem 1rem;
}

main .l-container p {
  font-size: 1.6rem;
  line-height: 3.69rem;
  padding: 0 1.4rem 2rem 1rem;
}

main .l-container .l-take_out {
  background-image: url(/images/takeout_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 2rem;
  width: 89.5%;
  height: 64.2rem;
  /*レスポンシブ　tablet PC*/
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-container .l-take_out {
    margin-left: 4rem;
    margin-right: 2rem;
  }
}

main .l-container .l-eat_in {
  background-image: url(/images/eatin_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 2rem;
  width: 89.5%;
  height: 64.2rem;
  /*レスポンシブ　tablet PC*/
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-container .l-eat_in {
    margin-left: 2rem;
    margin-right: 4rem;
  }
}

main .l-container .l-content1 {
  margin: 22rem 1rem 1rem 1rem;
}

main .l-container .l-content2 {
  margin: 0.9rem 1rem 1rem 1rem;
}

main .l-container .l-content1,
main .l-container .l-content2 {
  width: 94%;
  height: 16.3rem;
  background-color: #fff;
  opacity: 0.8;
  color: #3c2a10;
  line-height: 3.7rem;
}

main .l-map {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/images/map_bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/map_bg.jpg);
  /*map画像にカラーフィルター黒*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 100%;
  height: 69.1rem;
  margin-top: 4.9rem;
  background-color: #000000;
  opacity: 0.6;
  /*レスポンシブ　tablet*/
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-map {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/images/map_tablet_bg.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/map_tablet_bg.jpg);
    /*map画像にカラーフィルター黒*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /*レスポンシブ　PC*/
    /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  main .l-map {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/images/map_pc_bg.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/map_pc_bg.jpg);
    /*map画像にカラーフィルター黒*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

main .l-map .l-map-comment {
  background-color: #000000;
  opacity: 0.8;
  color: #fff;
  width: 100%;
  height: 50%;
  /*レスポンシブ　tablet*/
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-map .l-map-comment {
    width: 100%;
    height: 100%;
    /*レスポンシブ　PC*/
    /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  main .l-map .l-map-comment {
    width: 50%;
    height: 100%;
    float: left;
  }
}

main .l-map h2 {
  font-size: 3rem;
  height: 12rem;
  padding: 4rem 0 2rem 4rem;
  position: relative;
}

main .l-map h2::after {
  content: "";
  position: absolute;
  top: 10rem;
  left: 4rem;
  bottom: -2.2rem;
  /*線の上下位置*/
  width: 7.5rem;
  /*線の長さ*/
  height: 0.32rem;
  /*線の太さ*/
  background-color: #fff;
  /*線の色*/
}

main .l-map p {
  font-size: 1.4rem;
  height: 29.5rem;
  padding: 0 4rem 5.1rem 4rem;
  line-height: 4.7rem;
}

main .l-archive-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/images/archive_top_bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/archive_top_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  position: relative;
}

main .l-archive-main_title {
  color: #fff;
  font-size: 3.6rem;
  font-family: "M+ 1m";
  padding: 11.9rem 0 0 3.7rem;
}

main .l-archive-main_menu {
  color: #fff;
  font-size: 1.6rem;
  font-family: "M+ 1m";
  padding: 0 0 11.5rem 3.7rem;
}

main .l-archive_main {
  background-color: #fffdfa;
  padding-top: 11.5rem;
}

main .l-archive-container h3 {
  font-size: 2.8rem;
  margin: 3rem 0 3.2rem 2.2rem;
}

main .l-archive-container p {
  font-size: 1.6rem;
  line-height: 3.7rem;
  margin-left: 2.2rem;
  margin-right: 1.8rem;
  height: 27.6rem;
  width: 89.3%;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-archive-container p {
    height: 14.3rem;
  }
}

main .l-archive_card {
  text-align: center;
  width: 89.5%;
  height: 58.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-archive_card {
    height: 35.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  main .l-archive_card {
    height: 47.1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

main .l-card_imageframe {
  height: 23rem;
  width: 100%;
  background-image: url(/images/archive_card_img.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  /*図の下の空白を消す*/
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-card_imageframe {
    background-image: url(/images/archive_card_tablet_img.jpg);
    float: left;
    width: 50%;
    height: 35.5rem;
    /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  main .l-card_imageframe {
    background-image: url(/images/archive_card_pc_img.jpg);
    height: 47.1rem;
  }
}

main .l-card_contents {
  background-color: #3c2b1c;
  color: #fff;
  height: 35.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1.7rem;
  text-align: initial;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-card_contents {
    float: right;
    width: 50%;
    /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  main .l-card_contents {
    height: 47.1rem;
  }
}

main .l-card_contents h2 {
  padding-top: 3.05rem;
  padding-bottom: 2.5rem;
  font-size: 2rem;
}

main .l-card_contents .l-card_text {
  font-size: 1.6rem;
}

main .l-card_contents .l-card_text h3 {
  padding-bottom: 1.1rem;
}

main .l-card_contents .l-card_text p {
  padding-right: 7.3rem;
  height: 11.4rem;
  line-height: 3.7rem;
  text-align: left;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-card_contents .l-card_text p {
    padding-right: 5.9rem;
    /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  main .l-card_contents .l-card_text p {
    padding-right: 10.4rem;
  }
}

main .l-card_contents .l-card_btn {
  -webkit-appearance: none;
  border-radius: 5rem;
  width: 16.3rem;
  height: 4.2rem;
  padding: 1rem 4.1rem 1rem 4.1rem;
  font-size: 1.6rem;
  color: #707070;
  border: 0.1rem solid #707070;
  background-color: #ffffff;
  display: block;
  text-align: center;
  margin-top: 4rem;
}

main .l-pagenation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-size: 1.6rem;
  color: #707070;
  padding-bottom: 3rem;
  padding-top: 6.1rem;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-pagenation {
    width: 70rem;
    padding-top: 10.5rem;
    /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  main .l-pagenation {
    padding-top: 15rem;
    padding-bottom: 6.4rem;
  }
}

main .l-page_view {
  display: none;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-page_view {
    display: block;
    margin-right: 1.9rem;
  }
}

main .l-page_logo {
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-page_logo {
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

main .l-page_comment {
  margin: 0.82rem;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-page_comment {
    display: none;
  }
}

main .l-page_container {
  display: none;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-page_container {
    display: block;
  }
}

main .l-page_container .l-page_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  text-decoration: none;
  border: solid #707070 0.1rem;
  color: #707070;
  padding: 0.7rem 1.3rem 0.7rem 1.3rem;
  float: left;
  margin: 0.75rem;
}

main .l-single-top {
  background-image: url(/images/single_top_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 22.5rem;
  position: relative;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-single-top {
    height: 50rem;
  }
}

main .l-single-main_title {
  color: #fff;
  font-size: 3.6rem;
  font-family: "M+ 1m";
  padding: 9.1rem 0 9.1rem 2.6rem;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-single-main_title {
    padding-top: 20.8rem;
  }
}

main .l-single_mainbg {
  background-color: #fffdfa;
}

main .l-single_main {
  background-color: #fffdfa;
  padding-top: 3rem;
  width: 89.3%;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-single_main {
    width: 85.6%;
    /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  main .l-single_main {
    width: 87.1%;
  }
}

main .l-single_main .l-single_topics h2 {
  margin-bottom: 3.2rem;
  font-size: 3.6rem;
}

main .l-single_main .l-single_topics p {
  height: 18.3rem;
  font-size: 1.6rem;
  margin-bottom: 3.4rem;
}

main .l-single_main .l-single_topics h3,
main .l-single_main .l-single_topics h4,
main .l-single_main .l-single_topics h5,
main .l-single_main .l-single_topics h6 {
  margin-bottom: 6rem;
  font-size: 2rem;
}

main .l-single_main .l-single_article {
  font-size: 1.6rem;
  color: #3c2a10;
}

main .l-single_main .l-single_blockquote {
  background-color: #f5f5f5;
  height: 61.7rem;
  font-family: "M+ 1m";
  margin-bottom: 3rem;
}

main .l-single_main .l-single_blockquote .l-single_blockquote_txt {
  width: 85.6%;
  padding-top: 3rem;
}

main .l-single_main .l-single_blockquote .l-single_blockquote_txt .l-quote_txt1 {
  height: 50.5rem;
  margin-bottom: 3rem;
}

main .l-single_main .l-single_wide_imageframe {
  background-image: url(/images/single_img_wide.jpg);
  height: 12.4rem;
  width: 100%;
  margin-bottom: 3rem;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  /*図の下の空白を消す*/
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-single_main .l-single_wide_imageframe {
    height: 26.4rem;
    /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  main .l-single_main .l-single_wide_imageframe {
    height: 50rem;
  }
}

main .l-single_main .c-single__card__container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 3rem;
  width: 100%;
}

main .l-single_main .c-single__card__container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 3rem;
  width: 100%;
}

main .l-single_main .c-single__card__txt {
  width: 54.3%;
  margin-top: 0;
}

main .l-single_main .c-single__card__img {
  width: 42.7%;
  height: 8.9rem;
  margin-top: 0rem;
  background-image: url(/images/single_img.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-single_main .c-single__card__img {
    height: 18.9rem;
    /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  main .l-single_main .c-single__card__img {
    height: 35.8rem;
  }
}

main .l-single_main .l-single_middle_imageframe {
  background-image: url(/images/single_img.jpg);
  height: 16.6rem;
  width: 79.7%;
  margin-bottom: 3rem;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  /*図の下の空白を消す*/
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-single_main .l-single_middle_imageframe {
    width: 81.3%;
    height: 35.8rem;
    /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  main .l-single_main .l-single_middle_imageframe {
    width: 58.1rem;
    height: 35.8rem;
  }
}

main .l-single_main .l-wrapper_grid {
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-single_main .l-wrapper_grid {
    display: -ms-grid;
    display: grid;
    gap: 1.6rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  main .l-single_main .l-wrapper_grid {
    gap: 2rem;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

main .l-single_main .l-wrapper_grid .l-single_big_imageframe {
  background-image: url(/images/single_img.jpg);
  height: 20.5rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  /*図の下の空白を消す*/
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-single_main .l-wrapper_grid .l-single_big_imageframe {
    height: 20.5rem;
    /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  main .l-single_main .l-wrapper_grid .l-single_big_imageframe {
    height: 25.7rem;
  }
}

main .l-single_main .l-single_list1 {
  margin-bottom: 6rem;
}

main .l-single_main .l-list_item {
  margin-bottom: 3rem;
}

main .l-single_main .l-html_container {
  background-color: #f5f5f5;
  width: 100%;
  height: 23.7rem;
  padding-top: 5rem;
  padding-left: 5rem;
  margin-bottom: 3rem;
}

main .l-single_main table,
main .l-single_main td {
  background-color: #ffffff;
  border: solid 0.1rem #707070;
  border-collapse: collapse;
  margin-bottom: 3rem;
  padding-left: 3rem;
  height: 7.7rem;
  width: 100%;
}

main .l-single_main .c-td1 {
  width: 40%;
}

main .l-single_main .c-td2 {
  width: 60%;
}

main .l-single_main .c-single_btn {
  text-align: center;
  padding: 2.8rem auto 3.2rem auto;
  border: solid 0.1rem #707070;
  background-color: #f2ede9;
  border-radius: 2rem;
  width: 33.5rem;
  height: 8.1rem;
  margin-bottom: 3rem;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-single_main .c-single_btn {
    width: 42.9rem;
  }
}

main .l-single_main .c-bold {
  padding-bottom: 7.1rem;
}

main .l-page-hero {
  background-image: url(/images/page_hero_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 22.5rem;
  position: relative;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  main .l-page-hero {
    height: 50rem;
  }
}

footer {
  overflow: hidden;
  color: #fff;
  max-width: 100%;
  height: 150px;
  background-image: url(/images/footer_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  /*&.fixed {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
    }*/
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 769px) {
  footer {
    width: 100%;
    float: left;
    z-index: 1000;
    position: relative;
  }
}

footer h2 {
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
  padding-top: 3.9rem;
}

footer p {
  /*padding: 35px 0px 0px 118px;*/
  margin: 0 auto;
  font-size: 1.4rem;
  text-align: center;
  padding-top: 3.5rem;
}

sidebar {
  /*JSでsidebar開いた状態*/
}

sidebar .l-sidebar_wrapper {
  /*これがクリック時に表示される*/
  color: #707070;
  background-color: #fff7ef;
  width: 32.8rem;
  position: absolute;
  z-index: 200;
  right: -35rem;
  padding-bottom: 5000px;
  margin-bottom: -5000px;
  top: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
  /*JSでsidebar開いた状態*/
  /*JSでsidebar開いた状態*/
}

@media (min-width: 769px) {
  sidebar .l-sidebar_wrapper {
    width: 19.3%;
    float: right;
    right: 0rem;
    position: absolute;
    display: block;
  }
}

sidebar .l-sidebar_wrapper .l-sidebar_title {
  display: none;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 769px) {
  sidebar .l-sidebar_wrapper .l-sidebar_title {
    display: block;
  }
}

sidebar .l-sidebar_wrapper .l-sidebar_title.is-open {
  display: none;
}

sidebar .l-sidebar_wrapper .l-menu_cancel_btn {
  float: left;
  position: relative;
  top: 2.5rem;
  left: 27.9rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 769px) {
  sidebar .l-sidebar_wrapper .l-menu_cancel_btn {
    display: none;
  }
}

sidebar .l-sidebar_wrapper .is-open {
  display: block;
}

sidebar .l-sidebar_wrapper .l-menu_list {
  padding-top: 21.2rem;
}

sidebar .l-sidebar_wrapper h2 {
  font-family: Roboto;
  font-size: 3.4rem;
  position: relative;
  left: 4.6rem;
  margin-top: 8.2rem;
  margin-bottom: 8.5rem;
}

sidebar .l-sidebar_wrapper h3 {
  font-family: "mplus-1m-bold";
  font-size: 2.4rem;
  margin-bottom: 4.2rem;
  position: relative;
  left: 4.6rem;
}

sidebar .l-sidebar_wrapper p {
  font-family: "M+ 1m";
  font-size: 2rem;
  line-height: 4.7rem;
  position: relative;
  left: 6.6rem;
}

sidebar .l-sidebar_wrapper .l-burger,
sidebar .l-sidebar_wrapper .l-side,
sidebar .l-sidebar_wrapper .l-drink {
  margin-bottom: 4rem;
}

sidebar .is-open {
  right: 0rem;
  position: absolute;
  /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
}

@media (min-width: 641px) {
  sidebar .is-open {
    width: 50%;
    /*@if $point == wide {
        @media ( min-width: 961px ) {
            @content ;
        }
    }*/
  }
}

@media (min-width: 641px) and (min-width: 769px) {
  sidebar .is-open {
    display: block;
  }
}

.pageContainer {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.document-wrapper {
  overflow: hidden;
}

/*jQueryサイドバー表示の黒透過*/
.l-open_menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

body.is-open {
  position: fixed;
}
/*# sourceMappingURL=style.css.map */