.l-main {
    overflow: hidden;
    opacity: 1;

    @include breakpoint(pc) {
        width: 80.7%;
        float: left;
    }

    .p-page__hero {
        background-image: url(/images/top_bg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-width: 100%;
        height: auto;
        position: relative;
        display: block;

        @include breakpoint( tablet ) {
            background-image: url(/images/top_tablet_bg.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;

            @include breakpoint( pc ) {
                background-image: url(/images/top_pc_bg.jpg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }
        }
        .c-main__title {
            color: #fff;
            font-size: 3.6rem;
            font-family: "M+ 1m";
            padding: 11.9rem 0px 11.8rem 2.5rem;
        }
    }

    .p-main__container {
        /*レスポンシブ　tablet PC*/
        @include breakpoint( tablet ) {
            display: flex;
        }
        h2 {
            color: #fff;
            font-size: 4.1rem;
            font-family: Roboto;
            padding: 1.3rem 0 0 1.2rem;
            position: relative;
        }
        h2::after {
            content: "";
            position: absolute;
            left: 1.2rem;
            bottom: -1.13rem; /*線の上下位置*/
            width: 3.39rem; /*線の長さ*/
            height: 0.5rem; /*線の太さ*/
            background-color: #fff; /*線の色*/
        }

        h3 {
            font-size: 2.2rem;
            font-family: "M+ 1m";
            padding: 1.9rem 0 2.1rem 1rem;
        }

        p {
            font-size: 1.6rem;
            line-height: 3.69rem;
            padding: 0 1.4rem 2rem 1rem;
        }

        .p-takeOut__container {
            background-image: url(/images/takeout_bg.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            margin-top: 2rem;
            width: 89.5%;
            height: 64.2rem;
            /*レスポンシブ　tablet PC*/
            @include breakpoint( tablet ) {
                margin-left: 4rem;
                margin-right: 2rem;
            }
        }

        .p-eatIn__container {
            background-image: url(/images/eatin_bg.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            margin-top: 2rem;
            width: 89.5%;
            height: 64.2rem;
            /*レスポンシブ　tablet PC*/
            @include breakpoint( tablet ) {
                margin-left: 2rem;
                margin-right: 4rem;
            }
        }
        .c-content1 {
            margin: 22rem 1rem 1rem 1rem;
        }
        .c-content2 {
            margin: 0.9rem 1rem 1rem 1rem;
        }
        .c-content1,
        .c-content2 {
            width: 94%;
            height: 16.3rem;
            background-color: #fff;
            opacity: 0.8;
            color: #3c2a10;
            line-height: 3.7rem;
        }
    }

    .p-map {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/map_bg.jpg); /*map画像にカラーフィルター黒*/
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-width: 100%;
        height: 69.1rem;
        margin-top: 4.9rem;
        background-color: #000000;
        opacity: 0.6;
        /*レスポンシブ　tablet*/
        @include breakpoint( tablet ) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/map_tablet_bg.jpg); /*map画像にカラーフィルター黒*/
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            /*レスポンシブ　PC*/
            @include breakpoint( pc ) {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/map_pc_bg.jpg); /*map画像にカラーフィルター黒*/
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }
        }

        .c-map__comment {
            background-color: #000000;
            opacity: 0.8;
            color: #fff;
            width: 100%;
            height: 50%;
            /*レスポンシブ　tablet*/
            @include breakpoint( tablet ) {
                width: 100%;
                height: 100%;
                /*レスポンシブ　PC*/
                @include breakpoint( pc ) {
                    width: 50%;
                    height: 100%;
                    float: left;
                }
            }
        }

        h2 {
            font-size: 3rem;
            height: 12rem;
            padding: 4rem 0 2rem 4rem;
            position: relative;
        }
        h2::after {
            content: "";
            position: absolute;
            top: 10rem;
            left: 4rem;
            bottom: -2.2rem; /*線の上下位置*/
            width: 7.5rem; /*線の長さ*/
            height: 0.32rem; /*線の太さ*/
            background-color: #fff; /*線の色*/
        }
        p {
            font-size: 1.4rem;
            height: 29.5rem;
            padding: 0 4rem 5.1rem 4rem;
            line-height: 4.7rem;
        }
    }

    /*以下archiveのcss*/
    .p-archive__hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/archive_top_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        height: auto;
        position: relative;
    }
    .c-archive__main__title {
        color: #fff;
        font-size: 3.6rem;
        font-family: "M+ 1m";
        padding: 11.9rem 0 0 3.7rem;
    }
    .c-archive__main__menu {
        color: #fff;
        font-size: 1.6rem;
        font-family: "M+ 1m";
        padding: 0 0 11.5rem 3.7rem;
    }
    .p-archive__main {
        background-color: #fffdfa;
        padding-top: 11.5rem;
    }
    .p-archive__container {
        h3 {
            font-size: 2.8rem;
            margin: 3rem 0 3.2rem 2.2rem;
        }
        p {
            font-size: 1.6rem;
            line-height: 3.7rem;
            margin-left: 2.2rem;
            margin-right: 1.8rem;
            height: 27.6rem;
            width: 89.3%;
            @include breakpoint( tablet ) {
                height: 14.3rem;
            }
        }
    }

    .c-card__container {
        text-align: center;
        width: 89.5%;
        height: 58.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        box-sizing: border-box;
        @include breakpoint( tablet ) {
            height: 35.5rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
            @include breakpoint( pc ) {
                height: 47.1rem;
                margin-top: 3rem;
                margin-bottom: 3rem;
            }
        }
    }
    .c-card__imgframe {
        height: 23rem;
        width: 100%;
        background-image: url(/images/archive_card_img.jpg);
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        box-sizing: border-box;
        display: block; /*図の下の空白を消す*/
        @include breakpoint( tablet ) {
            background-image: url(/images/archive_card_tablet_img.jpg);
            float: left;
            width: 50%;
            height: 35.5rem;
            @include breakpoint( pc ) {
                background-image: url(/images/archive_card_pc_img.jpg);
                height: 47.1rem;
            }
        }
    }
    .p-card__contents {
        background-color: #3c2b1c;
        color: #fff;
        height: 35.5rem;
        box-sizing: border-box;
        padding-left: 1.7rem;
        text-align: initial;
        @include breakpoint( tablet ) {
            float: right;
            width: 50%;
            @include breakpoint( pc ) {
                height: 47.1rem;
            }
        }
        .c-card__title {
            padding-top: 3.05rem;
            padding-bottom: 2.5rem;
            font-size: 2rem;
        }
        .c-card__text {
            font-size: 1.6rem;
            h3 {
                padding-bottom: 1.1rem;
            }
            p {
                padding-right: 7.3rem;
                height: 11.4rem;
                line-height: 3.7rem;
                text-align: left;
                @include breakpoint( tablet ) {
                    padding-right: 5.9rem;
                    @include breakpoint( pc ) {
                        padding-right: 10.4rem;
                    }
                }
            }
        }
        .c-card__btn {
            -webkit-appearance: none;
            border-radius: 5rem;
            width: 16.3rem;
            height: 4.2rem;
            padding: 1rem 4.1rem 1rem 4.1rem;
            font-size: 1.6rem;
            color: #707070;
            border: 0.1rem solid #707070;
            background-color: #ffffff;
            display: block;
            text-align: center;
            margin-top: 4rem;
        }
    }
    /*ページフィード*/
    .p-pagenation {
        display: flex;
        font-family: Roboto;
        font-size: 1.6rem;
        color: #707070;
        padding-bottom: 3rem;
        padding-top: 6.1rem;
        @include breakpoint( tablet ) {
            width: 70rem;
            padding-top: 10.5rem;
            @include breakpoint( pc ) {
                padding-top: 15rem;
                padding-bottom: 6.4rem;
            }
        }
    }
    .c-page__view {
        display: none;
        @include breakpoint( tablet ) {
            display: block;
            margin-right: 1.9rem;
        }
    }
    .c-page__logo {
        @include breakpoint( tablet ) {
            margin-right: 0rem;
            margin-left: 0rem;
        }
    }
    .c-page__word {
        margin: 0.82rem;
        @include breakpoint( tablet ) {
            display: none;
        }
    }
    .c-page__container {
        display: none;
        @include breakpoint( tablet ) {
            display: block;
        }
        .c-page_number {
            display: flex;
            background-color: #fff;
            text-decoration: none;
            border: solid #707070 0.1rem;
            color: #707070;
            padding: 0.7rem 1.3rem 0.7rem 1.3rem;
            float: left;
            margin: 0.75rem;
        }
    }

    /*以下singleのcss*/
    .p-single__hero {
        background-image: url(/images/single_top_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        height: 22.5rem;
        position: relative;
        @include breakpoint( tablet ) {
            height: 50rem;
        }
    }

    .c-single__main__title {
        color: #fff;
        font-size: 3.6rem;
        font-family: "M+ 1m";
        padding: 9.1rem 0 9.1rem 2.6rem;
        @include breakpoint( tablet ) {
            padding-top: 20.8rem;
        }
    }
    .p-single-page__mainbg {
        background-color: #fffdfa;
    }
    .p-single-page__main {
        background-color: #fffdfa;
        padding-top: 3rem;
        width: 89.3%;
        @include breakpoint( tablet ) {
            width: 85.6%;
            @include breakpoint( pc ) {
                width: 87.1%;
            }
        }
        .p-single-page__topics {
            h2 {
                margin-bottom: 3.2rem;
                font-size: 3.6rem;
            }
            p {
                height: 18.3rem;
                font-size: 1.6rem;
                margin-bottom: 3.4rem;
            }
            h3,
            h4,
            h5,
            h6 {
                margin-bottom: 6rem;
                font-size: 2rem;
            }
        }
        .p-single-page__article {
            font-size: 1.6rem;
            color: #3c2a10;
        }
        .c-single-page__blockquote {
            background-color: #f5f5f5;
            height: 61.7rem;
            font-family: "M+ 1m";
            margin-bottom: 3rem;
            .c-single-page__blockquote__txt {
                width: 85.6%;
                padding-top: 3rem;
                .c-quote__txt1 {
                    height: 50.5rem;
                    margin-bottom: 3rem;
                }
            }
        }
        .c-single-page__wide__imgframe {
            background-image: url(/images/single_img_wide.jpg);
            height: 12.4rem;
            width: 100%;
            margin-bottom: 3rem;
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            box-sizing: border-box;
            display: block; /*図の下の空白を消す*/
            @include breakpoint( tablet ) {
                height: 26.4rem;
                @include breakpoint( pc ) {
                    height: 50rem;
                }
            }
        }

        .c-single-page__card__container1 {
            display: flex;
            flex-direction: row;
            margin-bottom: 3rem;
            width: 100%;
        }
        .c-single-page__card__container2 {
            display: flex;
            flex-direction: row-reverse;
            margin-bottom: 3rem;
            width: 100%;
        }
        .c-single-page__card__txt {
            width: 54.3%;
            margin-top: 0;
        }

        .c-single-page__card__img {
            width: 42.7%;
            height: 8.9rem;
            margin-top: 0rem;
            background-image: url(/images/single_img.jpg);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            box-sizing: border-box;
            @include breakpoint( tablet ) {
                height: 18.9rem;
                @include breakpoint( pc ) {
                    height: 35.8rem;
                }
            }
        }

        .c-single-page__middle__imgframe {
            background-image: url(/images/single_img.jpg);
            height: 16.6rem;
            width: 79.7%;
            margin-bottom: 3rem;
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            box-sizing: border-box;
            display: block; /*図の下の空白を消す*/
            @include breakpoint( tablet ) {
                width: 81.3%;
                height: 35.8rem;
                @include breakpoint( pc ) {
                    width: 58.1rem;
                    height: 35.8rem;
                }
            }
        }
        .c-single-page__grid {
            display: grid;
            gap: 3rem;
            grid-template-columns: 1fr;
            @include breakpoint( tablet ) {
                display: grid;
                gap: 1.6rem;
                grid-template-columns: 1fr 1fr;
                @include breakpoint( pc ) {
                    gap: 2rem;
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
            .c-single-page__big__imgframe {
                background-image: url(/images/single_img.jpg);
                height: 20.5rem;
                width: 100%;
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: cover;
                box-sizing: border-box;
                display: block; /*図の下の空白を消す*/
                @include breakpoint( tablet ) {
                    height: 20.5rem;
                    @include breakpoint( pc ) {
                        height: 25.7rem;
                    }
                }
            }
        }
        .c-single-page__list1 {
            margin: 3rem 0 6rem 2rem;
            @include breakpoint( tablet ) {
                margin-top: 6rem;
            }
        }
        .c-single-page__list2 {
            margin: 3rem 0 6rem auto;
            .c-list__item {
                list-style-type: none;
            }
        }
        .c-list__item {
            margin-bottom: 3rem;
        }

        .c-list_middle {
            margin-left: 3.8rem;
        }

        .c-single-page__html__container {
            background-color: #f5f5f5;
            width: 100%;
            height: 23.7rem;
            padding-top: 5rem;
            padding-left: 5rem;
            margin-bottom: 3rem;
        }
        table,
        td {
            background-color: #ffffff;
            border: solid 0.1rem #707070;
            border-collapse: collapse;
            margin-bottom: 3rem;
            padding-left: 3rem;
            height: 7.7rem;
            width: 100%;
        }
        .c-td1 {
            width: 40%;
        }
        .c-td2 {
            width: 60%;
        }
        .c-single-page__btn {
            text-align: center;
            padding: 2.8rem auto 3.2rem auto;
            border: solid 0.1rem #707070;
            background-color: #f2ede9;
            border-radius: 2rem;
            width: 33.5rem;
            height: 8.1rem;
            margin-bottom: 3rem;
            @include breakpoint( tablet ) {
                width: 42.9rem;
            }
        }
        .c-under__btn__txt {
            padding-bottom: 7.1rem;
        }
    }
    /*以下pageのcss*/
    .l-page-hero {
        background-image: url(/images/page_hero_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        height: 22.5rem;
        position: relative;
        @include breakpoint( tablet ) {
            height: 50rem;
        }
    }
}
