main {
    @include breakpoint( pc ) { 
        width: 80.7%;
        float: left;
     }
    .l-page-top {
        background-image: url(/images/top_bg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-width: 100%;
        height: auto;
        position: relative;
        .l-main_title {
            color: #fff;
            font-size: 3.6rem;
            font-family: "M+ 1m";
            padding: 11.9rem 0px 11.8rem 2.5rem;
        }
    }

    .l-container {
        /*レスポンシブ　tablet PC*/
        @include breakpoint( tablet ) { 
            display: flex;
        }
        h2 {
            color: #fff;
            font-size: 4.1rem;
            font-family: Roboto;
            padding: 1.3rem 0 0 1.2rem;
            position: relative;
        }
        h2::after {
            content: "";
            position: absolute;
            left: 1.2rem;
            bottom: -1.13rem; /*線の上下位置*/
            width: 3.39rem; /*線の長さ*/
            height: 0.5rem; /*線の太さ*/
            background-color: #fff; /*線の色*/
        }

        h3 {
            font-size: 2.2rem;
            font-family: "M+ 1m";
            padding: 1.9rem 0 2.1rem 1rem;
        }

        p {
            font-size: 1.6rem;
            line-height: 3.69rem;
            padding: 0 1.4rem 2rem 1rem;
        }

        .l-take_out {
            background-image: url(/images/takeout_bg.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            margin-top: 2rem;
            width: 89.5%;
            height: 64.2rem;
            /*レスポンシブ　tablet PC*/
            @include breakpoint( tablet ) { 
                margin-left: 4rem;
                margin-right: 2rem;
            }
        }

        .l-eat_in {
            background-image: url(/images/eatin_bg.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            margin-top: 2rem;
            width: 89.5%;
            height: 64.2rem;
            /*レスポンシブ　tablet PC*/
            @include breakpoint( tablet ) { 
                margin-left: 2rem;
                margin-right: 4rem;
            }
        }
        
        .l-content1 {
            margin: 22rem 1rem 1rem 1rem;
        }
        .l-content2 {
            margin: 0.9rem 1rem 1rem 1rem;
        }
        .l-content1,
        .l-content2 {
            width: 94%;
            height: 16.3rem;
            background-color: #fff;
            opacity: 0.8;
            color: #3c2a10;
            line-height: 3.7rem;
        }
    }

    .l-map {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/map_bg.jpg); /*map画像にカラーフィルター黒*/
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 69.1rem;
        margin-top: 4.9rem;
        background-color: #000000;
        opacity: 0.6;

        .l-map-comment {
            background-color: #000000;
            opacity: 0.8;
            color: #fff;
            width: 100%;
            height: 50%;
           /*レスポンシブ　tablet*/
            @include breakpoint( tablet ) { 
                width: 100%;
                height: 100%;
            /*レスポンシブ　PC*/
            @include breakpoint( pc ) {
                width: 50%;
                height: 100%;
                float: left;
                    } 
                }
            }

        h2 {
            font-size: 3rem;
            height: 12rem;
            padding: 4rem 0 2rem 4rem;
            position: relative;
        }
        h2::after {
            content: "";
            position: absolute;
            top: 10rem;
            left: 4rem;
            bottom: -2.2rem; /*線の上下位置*/
            width: 7.5rem; /*線の長さ*/
            height: 0.32rem; /*線の太さ*/
            background-color: #fff; /*線の色*/
        }
        p {
            font-size: 1.4rem;
            height: 29.5rem;
            padding: 0 4rem 5.1rem 4rem;
            line-height: 4.7rem;
        }
    }
}