.l-sidebar {
    .p-sidebar__wrapper {
        color: #707070;
        background-color: #fff7ef;
        width: 32.8rem;
        position: absolute;
        z-index: 200;
        right: -35rem;
        padding-bottom: 5000px;
        margin-bottom: -5000px;
        top: 0;
        @include breakpoint(pc) {
            width: 19.3%;
            float: right;
            right: 0rem;
            position: absolute;
            display: block;
        }

        .c-sidebar__title {
            display: none;
            @include breakpoint(pc) {
                display: block;
            }
        }
        /*JSでsidebar開いた状態*/
        .c-sidebar__title.is-open {
            display: none;
        }

        .c-menu__cancel__btn {
            float: left;
            position: relative;
            top: 2.5rem;
            left: 27.9rem;
            width: 3.2rem;
            height: 3.2rem;
            cursor: pointer;
            @include breakpoint(pc) {
                display: none;
            }
        }
        /*JSでsidebar開いた状態でキャンセルボタン常時表示*/
        .is-open {
            display: block;
        }

        .c-menu__list {
            padding-top: 21.2rem;
        }
        h2 {
            font-family: Roboto;
            font-size: 3.4rem;
            position: relative;
            left: 4.6rem;
            margin-top: 8.2rem;
            margin-bottom: 8.5rem;
        }

        h3 {
            font-family: "mplus-1m-bold";
            font-size: 2.4rem;
            margin-bottom: 4.2rem;
            position: relative;
            left: 4.6rem;
        }

        p {
            font-family: "M+ 1m";
            font-size: 2rem;
            line-height: 4.7rem;
            position: relative;
            left: 6.6rem;
        }
        .c-burger__menu,
        .c-side__menu,
        .c-drink__menu {
            margin-bottom: 4rem;
        }
    }

    /*JSでsidebar開いた状態を作る*/
    .is-open {
        overflow: scroll; /*JSでsidebar開いたときにsidebarだけスクロールさせる*/
        height: 100vh; /*overflowを機能させるためにブラウザの高さいっぱいを指定*/
        -webkit-overflow-scrolling: touch; /*慣性スクロールが効くのでスムーズとなる？*/
        right: 0rem;
        position: absolute;
        /*JSでsidebar開いた状態をレスポンシブ対応*/
        /*@include breakpoint(tablet) {
            width: 50%;
            @include breakpoint(pc) {
                display: block;
            }
        }*/
    }
}

