sidebar {
    color: #707070;
    background-color: #fff7ef;
    width: 32.8rem;
    position: fixed;
    z-index: 10;
    right: -35rem;
    top: 0;
    
    @include breakpoint(pc) {
        width: 19.3%;
        float: right;
        right: 0rem;
        position: absolute;
        display: block;
        padding-bottom: 5000px;
        margin-bottom: -5000px;
    }

    .l-sidebar_title {
        display: none;
        @include breakpoint(pc) {
            display: block;
        }
    }

    .l-menu_cancel_btn {
        float: right;
        position: relative;
        top: 2.5rem;
        right: 1.7rem;
        width: 1rem;
        height: 1rem;
        @include breakpoint(pc) {
            display: none;
        }
    }
    .l-menu_list {
        padding-top: 21.2rem;
    }
    h2 {
        font-family: Roboto;
        font-size: 3.4rem;
        position: relative;
        left: 4.6rem;
        margin-top: 8.2rem;
        margin-bottom: 8.5rem;
    }

    h3 {
        font-family: "mplus-1m-bold";
        font-size: 2.4rem;
        margin-bottom: 4.2rem;
        position: relative;
        left: 4.6rem;
    }

    p {
        font-family: "M+ 1m";
        font-size: 2rem;
        line-height: 4.7rem;
        position: relative;
        left: 6.6rem;
    }
    .l-burger,
    .l-side,
    .l-drink {
        margin-bottom: 4rem;
    }
    .l-show {
        transform: translate3d(-350, 0, 0);
    }
    .l-sidebar .is-open {
        left: 10%;
        overflow-y: scroll;
    }
}
