
/*footer*/
.p-shop__info {
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
    padding-top: 3.9rem;
}
.p-copyright {
    margin: 0 auto;
    font-size: 1.4rem;
    text-align: center;
    padding-top: 3.5rem;
}