/*header*/
.p-search__form {
    line-height: 4.6rem;
    margin-top: 3.8rem;
    text-align: center;
    margin-bottom: 4rem;
    
    @include breakpoint ( pc ) {
        float :right;
        display: inline-block;
        margin-top: 8.6rem;
        margin-right: 3rem;
    }
}


/*footer*/
.p-shop__info {
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
    padding-top: 3.9rem;
}
.p-copyright {
    margin: 0 auto;
    font-size: 1.4rem;
    text-align: center;
    padding-top: 3.5rem;
}